################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/nfVisualStudioSupport/config/applicationhost.config
/.vs/nfVisualStudioSupport/v16/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.visualgdb/CodeExplorer
/.vs
/RaspberryPiPico_nanoCLR/.visualgdb
/RaspberryPiPico_nanoCLR/.vs/RaspberryPiPico_nanoCLR
/RaspberryPiPico_nanoCLR/VisualGDB/Debug
/STM32H735G_DK_nanoCLR/.visualgdb/CodeDB/STM32H735G_DK_nanoCLR-Debug-VisualGDB
/STM32H735G_DK_nanoCLR/VisualGDB
/BuildOutput/STM32H735G_DK_nanoCLR.mkbin.rsp
/BuildOutput/STM32H735G_DK_nanoCLR.link.rsp
/BuildOutput/STM32H735G_DK_nanoCLR.bin
/BuildOutput/RaspberryPiPico_nanoCLR.progstat
/BuildOutput/RaspberryPiPico_nanoCLR.mkbin.rsp
/BuildOutput/RaspberryPiPico_nanoCLR.link.rsp
/BuildOutput/RaspberryPiPico_nanoCLR.bin
/.visualgdb/CodeDB/PicoSDKProject1.vgdbproj-Debug-VisualGDB
/Tools/PicoProbe/.visualgdb
/Tools/PicoProbe/.vs/PicoProbe
/Tools/ELF2UF2/x64/Debug
/Tools/PicoProbe/Local/Build
/Tools/PicoProbe/VisualGDB/Debug
/Tools/Pioasm/x64/Debug
/BuildOutput/STM32H735G_DK_nanoCLR.elf
/BuildOutput/RaspberryPiPico_nanoCLR.uf2
/BuildOutput/RaspberryPiPico_nanoCLR.size
/BuildOutput/RaspberryPiPico_nanoCLR.nm
/BuildOutput/RaspberryPiPico_nanoCLR.lst
/BuildOutput/RaspberryPiPico_nanoCLR.elf
/BuildOutput/PicoProbe.uf2
/BuildOutput/PicoProbe.size
/BuildOutput/PicoProbe.nm
/BuildOutput/PicoProbe.mkbin.rsp
/BuildOutput/PicoProbe.lst
/BuildOutput/PicoProbe.link.rsp
/BuildOutput/PicoProbe.elf
/BuildOutput/STM32H735G_DK_nanoCLR.size
/BuildOutput/STM32H735G_DK_nanoCLR.nm
/BuildOutput/STM32H735G_DK_nanoCLR.lst
/.visualgdb/CodeDB/PicoSDKProject1.vgdbproj-Debug-VisualGDB.0001
/PicoSDKProject1
/STM32H735G_DK_nanoCLR/.visualgdb/CodeDB/STM32H735G_DK_nanoCLR-Debug-VisualGDB.0001
/ST_STM32H735G_DK_nanoCLR/.visualgdb/CodeDB/STM32H735G_DK_nanoCLR-Debug-VisualGDB/GlobalCache
/ST_STM32H735G_DK_nanoCLR/.visualgdb/CodeDB
/ST_STM32H735G_DK_nanoCLR/VisualGDB
